---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.jsx";
import Team from "../components/Team.jsx";
import Contact from "../components/Contact.jsx";

const res = await fetch(
    "https://posts.hermanuschessclub.co.za/wp-json/wp/v2/posts?per_page=1&_embed"
);
const posts = await res.json();

const featuredImage = posts[0]._embedded["wp:featuredmedia"][0].source_url;
---

<Layout title="The Home Of Chess In Hermanus">
    <Hero />
    <div class="lg:flex gap-2 my-4">
        <div>
            <h2
                class="text-xl text-gray-800 font-extrabold sm:text-3xl text-center py-4"
            >
                Our History
            </h2>
            <img
                src="/hcc_01.jpg"
                alt="Hermanus Chess Club players at tournament"
                width="1280"
                height="720"
                class="p-6 rounded-lg h-96 w-full object-cover"
            />
            <p>
                The Hermanus Chess Club was first founded in 2016, and has been
                growing ever since. We have competed in numerous club
                championships and matches, such as the Overberg Chess Leauge and
                Western Cape Club Championship. We afilliated with the Hermanus
                Sports Club in 2021 and have been playing there ever since on
                Thursday afternoons. Our goal has always been to grow the sport
                and share the love of the game, and we will continue to do so in
                Hermanus and the greater Overberg.
            </p>
        </div>
        <div class="flex justify-center">
            <div class="w-96">
                <h2
                    class="text-xl text-gray-800 font-extrabold sm:text-3xl text-center py-4"
                >
                    Daily Puzzle
                </h2>
                <iframe
                    title="lichess Daily Puzzle"
                    src="https://lichess.org/training/frame?theme=blue&bg=light"
                    style="width: 100%; height: 440px; min-width: 350px"
                    allowtransparency="true"></iframe>
            </div>
        </div>
    </div>

    <h3
        class="text-2xl text-gray-800 font-extrabold sm:text-3xl text-center py-4 "
    >
        Read our latest news article
    </h3>
    <div>
        {
        posts.map((post:any) => 
            <div class="lg:flex border hover:drop-shadow-xl duration-100 rounded-lg w-4/5 mx-auto">
                <div class="">
                    <a href={`https://posts.hermanuschessclub.co.za/${post.slug}`}>
                    <img src={featuredImage}  alt={post.title.rendered} class="h-full w-full object-cover shrink"/>
                    </a>
                </div>
                <div class="p-4">
                    <a href={`https://posts.hermanuschessclub.co.za/${post.slug}`}>
                    <h3 class="text-3xl md:text-5xl font-bold text-gray-800 mb-2 underline underline-offset-8">{post.title.rendered}</h3>
                    </a>
                    <h4 class="text-xl md:text-2xl font-bold text-gray-700 my-2">{post.date.substring(0,10)}</h4>
                    <div class="text-lg md:text-xl" set:html={post.excerpt.rendered} />
                    <a href={`https://posts.hermanuschessclub.co.za/${post.slug}`}>
                        <button class="bg-[#da2c26] text-white font-bold text-lg p-2 rounded-lg my-4">Read More</button>
                    </a>
                </div>
        </div>
        )
        }
    </div>
    <div class="my-4">
        <Team />
    </div>
    <h3 class="text-2xl text-gray-800 font-extrabold sm:text-3xl">
        Where To Find Us
    </h3>
    <div class="my-4 flex justify-center">
        <iframe
            title="Google Maps Embed"
            width="100%"
            height="450px"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlawQ55mcYDyiKmfSIIxBsOrY1QO0x8gQ
    &q=Hermanus+Chess+Club"
        >
        </iframe>
    </div>
    <div>
        <Contact />
    </div>
</Layout>
